@use './function';
@use './variables' as *;

@mixin border($border-radius:false,$border:false){
    @if $border-radius != false{
        border-radius: $border-radius;
    }
    @if $border!= false{
        border: $border;
    }
}
@mixin color($color:false,$background:false){
  @if $color != false{
    color: $color;
  }
  @if $background != false{
    background-color: $background;
  }

}
@mixin font($font-family:false,$font-size:false,$font-weight:false,$font-style:false,$line-height:false){
    @if ($font-family != false) {
       font-family:$font-family;
    }
    @if $font-size{
        font-size: $font-size; 
    }
    
    @if $font-weight{
        font-weight: $font-weight;
    }
    font-style: normal;
    
    @if $line-height{
        line-height: $line-height;
    }
    }
    @mixin flex(
      $display: flex,
      $direction: false,
      $align: false,
      $justify: false,
      $wrap: false,
      $gap: false
    ) {
      display: $display;
      @if $direction {
        flex-direction: $direction;
      }
      @if $align {
        align-items: $align;
      }
      @if $justify {
        justify-content: $justify;
      }
      @if $wrap {
        flex-wrap: $wrap;
      }
      @if $gap {
        gap: $gap;
      }
    }
    @mixin button($width:false,$height:false,$background-color:false,$border-radius:false,$border:false,$padding:false){
        @if $width != false{
            width: $width;
        }
        @if $height != false{
            height: $height;
        }
        @if $background-color != false{
            background-color: $background-color;
        }
        @if $border-radius != false{
            border-radius: $border-radius;
        }
        @if $border!= false{
            border: $border;
        }
        @if $padding != false{
            padding: $padding;
        }
        cursor: pointer;
    }