$primary-font: Poppins;
$text-color: white;


w
//button
$button-watch-color:#6100C2;
$button-submit-color:rgba(39, 245, 49, 0.8);
$button-active-color: #f61212;
$btn-dark: #34495e;
$btn-light: #ffffff;
$btn-success: #0abf30;
$btn-error: #e24d4c;
$btn-warning: #e9bd0c;
$btn-info: #3498db;

$bg-inactive: #fbe7e8;


$backround-color-opacity:#230026;
$background-left-nav: #21201E;
