@use '../abstracts' as *;

@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins-Medium.ttf);
}

body {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: $text-color;
}
.main {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $backround-color-opacity;
    z-index: -1;
    opacity: 0.9;
  }
}

.container {
  max-width: 100%;
  height: 100%;
}
.hidden {
  display: none;
}
.blur {
  filter: blur(20px);
  pointer-events: none;
}
body::-webkit-scrollbar {
  width: 0;
}
.active {
  font-weight: 900;
  font-size: 18px;
  color: white;
  opacity: 1;
}
.error {
  border: none;
  border: 3px solid red !important;
  position: relative;
  animation: shake 3s infinite;
}
