@use '../abstracts/' as *;

.crud-form-prelogin {
  @include flex($direction: column, $justify: space-between, $align: center);
  background-color: $btn-light;
  border: 5px solid;
  border-radius: 5px;
  margin: 25% 35%;
  .form-head-login {
    .form-login-title {
      margin: 10px;
      @include flex(
        $direction: column,
        $justify: space-between,
        $align: center
      );
      gap: 10px;
      figure {
        display: flex;
        text-align: center;
        position: relative;
        img {
          width: 100%;
          height: 100%;
        }
      }
      p {
        text-align: center;
        margin: 0 1rem;
      }
      span {
        margin: 0 3px;
      }
    }
  }
  .form-bottom-login {
    @include flex($direction: column, $justify: space-between, $align: center);
    .form-login {
      @include flex(
        $direction: column,
        $justify: space-between,
        $align: center
      );
    }
  }
}
